<!doctype = html>
<html>
<head>
<title>PRACTICE SESSION</title>
<style type="text/css">
<!--
body {
font-family: Arial;
}

h1 {
text-align: center;
}

#box {
background-color: rgb(177, 161, 161);
border: 5px solid rgb(12, 9, 9);
border-radius: 10px;
color: black;
margin: 20px 0px 0px 0px;
padding: 10px;
text-align: left;
width: 95%;
}

p {
text-align: center
}

foot {
text-align: center
font-family: Arial;
}

</style>
</head>
<body>

<div align= "center">
<div id=box>

  <h1>Cheese MVC:</h1>

  <h3 align = "center"><em>The Python Version</em></h3>

 <br>

 <h3 align = "center">Please give me some cheese.</h3>

<br>

<form action = '/add' method = 'POST' align = "center">

  <h2>Let's Get Started.</h2><br>
  <label> Please enter the name of a cheese.<br><br>
          <input name="name" type="text" value = "" />
      </label>

<br><br>

  <label> Please enter the description of a cheese.<br><br>
          <input name="descript" type = "text" value = "" />
      </label>

<br><br>

<input type="submit" />

<br><br>
</div>
</form>

<div align=center>
    <div id=box>
<form action = '/remove' method = 'POST' align = "center">

    <h2>Remove a cheese.</h2><br>
    <label> Please enter the name of the cheese to remove.<br><br>
            <input name="remname" type="text" value = "" />
        </label>

  <input type="submit" />
  
  <br><br>
  </div>
  </form>
  
<div align=center>
    <div id=box>
    <h1>Here are the cheeses we have:</h1><br>

    <ul align = "left">
        {% for cheese in cheeses %}
        <li>{{cheese.name}}: {{cheese.description}}</li>
        {% endfor %}
    </ul>
    
    <br>
    
    <h3 align = "center">You started this session at: {{time}}</h3>
    
    </div>

</body>

</html>